#!/bin/bash

server='irc.example.net'
port=6667
mynick='Bashful'
pass='NickServ_password'
owner='Nick!user@host'
trigger='!'
mychans=('#help' '#bots')
randint=300
randwrite=10
ignore=(NickServ HostServ BotServ MemoServ)
sleeptime=300
floodtime=60
floodlines=6
